<launch>

    <!-- Arguments -->
    <arg name="namespace" default="anahita"/>
    <arg name="env" default="real"/>
    <arg name="dvl_port" default="/dev/ttyUSB0"/>

    <include file="$(find hardware_arduino)/launch/hardware_arduino.launch" output="screen"/>

    <include file="$(find teledyne_navigator)/launch/teledyne_navigator.launch">
        <arg name="baudrate" value="115200"/>
        <arg name="port" value="$(arg dvl_port)"/>
    </include>

    <include file="$(find xsens_driver)/launch/xsens_driver.launch"/>
</launch> 
