<launch>

  <arg name="env" default="real" />

  <group ns="anahita">
    <rosparam file="$(find color_calibration)/params/gate_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/line_$(arg env).yaml" command="load" />
  </group>

  <node name="fusion_node" type="fusion_node" pkg="vision_fusion" respawn="true" output="screen" />
  <node name="vision_node" type="vision_node" pkg="vision_tasks" respawn="true" output="screen" />

</launch>
