<launch>

  <arg name="env" default="real"/>

  <group ns="anahita">
    <rosparam file="$(find color_calibration)/params/gate_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/path_marker_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/marker_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/crucifix_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/grabber_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/torpedo_holes_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/startgate_$(arg env).yaml" command="load" />
    <rosparam file="$(find color_calibration)/params/triangular_buoy_$(arg env).yaml" command="load" />
  </group>

  <!-- <node name="fusion_node" type="fusion_node" pkg="vision_fusion" output="screen" if="$(eval env == 'real')"/> -->
  <node name="vision_node" type="vision_node" pkg="vision_tasks" output="screen" />
</launch>
