KERNEL=="ttyUSB[0-9]*", ATTRS{serial}=="FTFUUTW1", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="sparton/ahrs8", MODE="0666"
KERNEL=="ttyUSB[0-9]*", ATTRS{serial}=="FTFUXGRZ", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="sparton/ahrs8", MODE="0666"
