<launch>
    <arg name="env" default="real" />
    <param name="env" value="$(arg env)" type="string" />

    <arg name="color_calibrate_object" />
    <param name="color_calibrate_object" value="$(arg color_calibrate_object)" type="string" />

    <arg name="camera" default="front" />
    <param name="camera" value="$(arg camera)" type="string" />
    
    <node name="color_calibrate" type="color_calibrate" pkg="color_calibration" output="screen" />
    <node name="fusion_node" type="fusion_node" pkg="vision_fusion" if="$(eval env == 'real')"/>
    <node name="save_params" type="dump_param.py" pkg="color_calibration" output="screen" />
</launch>