<launch>

  <param name="/pwm_roll" value="0" type="int"/>
  <param name="/pwm_pitch" value="0" type="int"/>
  <param name="/pwm_yaw" value="0" type="int" />

  <param name="/pwm_sway" value="0" type="int" />
  <param name="/pwm_surge" value="0" type="int" />
  <param name="/pwm_heave" value="0" type="int" />

  <param name="/current_task" value="red_buoy" type="string" />

  <param name="/kill_signal" value="false" type="int" />

</launch>
