<launch>
  <!-- front camera -->
  <node name="front_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device"      value="/dev/front_cam" />
    <param name="image_width"       value="1280" />
    <param name="image_height"      value="720" />
    <param name="pixel_format"      value="mjpeg" />
    <param name="autofocus"         value="true" />
    <param name="camera_frame_id"   value="front_cam_link" />
    <remap from="front_camera/image_raw" to="/hardware_camera/front_camera/image_raw" />
  </node>

  <!-- bottom camera -->
  <node name="bottom_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device"    value="/dev/bottom_cam" />
    <param name="image_width"     value="1280" />
    <param name="image_height"    value="720" />
    <param name="pixel_format"    value="mjpeg" />
    <param name="autofocus"       value="true" />
    <param name="camera_frame_id" value="bottom_cam_link" />
    <remap from="bottom_camera/image_raw" to="/hardware_camera/bottom_camera/image_raw" />
  </node>
  
</launch>
