<launch>

  <!-- camera image configuration -->
  <arg name="image_width"   default="640"/>
  <arg name="image_height"  default="480"/>
  <arg name="framerate"     default="30"/>
  <!-- camera calibration files -->
  <arg name="front_camera_info_url"   default=""/>
  <arg name="bottom_camera_info_url"  default=""/>

  <!-- front camera -->
  <node name="front_camera" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device"      value="/dev/front_cam" />
    <param name="image_width"       value="$(arg image_width)" />
    <param name="image_height"      value="$(arg image_height)" />
    <param name="framerate"         value="$(arg framerate)"/>
    <param name="camera_name"       value="anahita/front_camera"/>
    <param name="camera_frame_id"   value="front_cam_link" />
    <param name="camera_info_url"   value="$(arg front_camera_info_url)" />
    <param name="pixel_format"      value="mjpeg" />
    <param name="autofocus"         value="true" />
  </node>

  <!-- bottom camera -->
  <node name="bottom_camera" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device"    value="/dev/bottom_cam" />
    <param name="image_width"     value="$(arg image_width)" />
    <param name="image_height"    value="$(arg image_height)" />
    <param name="framerate"       value="$(arg framerate)"/>
    <param name="camera_name"     value="anahita/bottom_camera"/>
    <param name="camera_frame_id" value="bottom_cam_link" />
    <param name="camera_info_url" value="$(arg bottom_camera_info_url)"/>
    <param name="pixel_format"    value="mjpeg" />
    <param name="autofocus"       value="true" />
  </node>

</launch>
