<launch>

    <!-- Arguments -->
    <arg name="namespace" default="anahita"/>
    <arg name="env" default="real"/>

    <!-- <include file="$(find hardware_camera)/launch/camera_logitech.launch">
        <arg name="camera1" value="left"/>
        <arg name="camera1_dev" value="dev/video0"/>
        <arg name="camera2" value="right"/>
        <arg name="camera2_dev" value="dev/video1"/>
    </include> -->
    <!-- Run the stereo image proc -->
    <node ns="$(arg namespace)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <remap from="left/image_raw" to="/anahita/left/image_raw" />
        <remap from="left/camera_info" to="/anahita/left/camera_info" />
        <remap from="right/image_raw" to="/anahita/right/image_raw" />
        <remap from="right/camera_info" to="/anahita/right/camera_info" />
        <param name="approximate_sync" value="True"/>
    </node>

</launch>
